		<div class = "navbar-fixed">
			<ul class="title_bar">
				<li class="dropdownz">
					<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="tiny material-icons">menu</i></a>
				
				</li>
				<li class="dropdownz">
					<a href="javascript:void(0)" class="dropbtnz">File</a>
					<div class="dropdown-contentz">
						<a href="#" class="titlelinks" onclick="CreatePreferencesWindow()">Preferences</a>
						<a href="/auth/logout" class="titlelinks">Logout</a>
					</div>
				</li>
				<li class="dropdownz">
					<a href="javascript:void(0)" class="dropbtnz">Edit</a>
					<div class="dropdown-contentz">
						<a href="#" class="titlelinks">Cut</a>
						<a href="#" class="titlelinks">Copy</a>
						<a href="#" class="titlelinks">Paste</a>
						<a href="#" class="titlelinks">Find</a>
						<a href="#" class="titlelinks">Replace</a>
						<a href="#" class="titlelinks">Undo</a>
						<a href="#" class="titlelinks">Redo</a>
					</div>
				</li>
				<li class="dropdownz">
					<a href="javascript:void(0)" class="dropbtnz">Internal Testing</a>
					<div class="dropdown-contentz">
						<a href="faculty_page" class="titlelinks">Teacher Module</a>
						<a href="student_page" class="titlelinks">Student Module</a>
						
					</div>
				</li>
				<li class="dropdownz">
					<a href="javascript:void(0)" class="dropbtnz">Help</a>
					<div class="dropdown-contentz">
						<a href="#" onclick="CreateAboutWindow()" class="titlelinks">About</a>
						<a href="#"  onclick="CreateUpdateWindow()" class="titlelinks">Updates</a>
						<a href="#" class="titlelinks">Report Issue</a>
					</div>
				</li>
				<li style="float:right"><a href="#" onclick = "CloseWindow()" class="titlelinks"><i class="tiny material-icons">close</i></a></li>
			</ul>
		</div>

		<br>
		<!--Tool Bar Ends Here-->
		<!--Page Layout Starts from here-->
		<!-- Page Layout here -->
		<div class="row">
			<div class="col s2">
				
				<ul id="slide-out" class="sidenav">
					<li><div class="user-view right-align">
						<div class="background">
							<img src="../../../res/img/himym.jpg">
						</div>
						<a href="/faculty" ><img class="circle" src="<%= user.image %>"></a>
						<a href="/faculty"><span class="white-text name "><%= user.name %></span></a>
						<a href="/faculty"><span class="white-text email"><%= user.email %></span></a>
					</div></li>
					<div class = "left-align">
						<li><div class="divider"></div></li>
						
						<li><a class="waves-effect" href="/faculty">Announcements</a></li>
						<li><a class="waves-effect" href="/faculty/groups">Class Groups</a></li>
						<li><a class="waves-effect" href="/faculty/assignments">Assignments</a></li>
						<li><a class="waves-effect" href="/faculty/evaluations">Lab Evaluations</a></li>
						<li><a class="waves-effect" href="/faculty/notes">Upload Notes</a></li>
						<li><a class="waves-effect" href="/faculty/creategroup" onclick = "EnterStudentID()">Create Group</a></li>
						<li><a class="waves-effect" href="/auth/logout">Logout</a></li>
					</div>
				</ul>
			
			</div>