<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Faculty Home</title>
		<script type="text/javascript" src="/libs/jquery-3.3.1.min.js"></script>
		<script src = "/scripts/menubar.js"></script>
		<link rel="stylesheet" href="/stylesheets/materialize.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel = "stylesheet" type ="text/css" href ="/stylesheets/opas.css">
		<link rel = "stylesheet" type ="text/css" href ="/stylesheets/faculty.css">
		<!-- <link rel = "stylesheet" type ="text/css" href ="/stylesheets/form.css"> -->
		<script src="/scripts/materialize.js"></script>
		<script src="/scripts/sidenav.js"></script>
		<script src="/scripts/createAssignment.js"></script>
	</head>
	<body>