body{
    overflow-x: hidden;
    height: 100%
}
.container-fluid{
    height: 100%
}
.info{
    padding-top: 40px;
    text-align: center;

}
.info .professor-name{
    text-align: center;
    align-content: center;
    font-size: 18px;
    width: 50%;
    alignment: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.leftmenu{
    padding-top: 150px;

    padding-right: 10px;
    align-content: center;
}
.leftmenu ul{
    align-content: center;
}
.leftmenu ul li{
    list-style-type: none;
    padding-top: 20px;
    align-content: center;
    text-align: center;

}
.wall{
    font-size: 12px;


    height: 100%;
    word-wrap: break-word;
}
.row{
    word-wrap: break-word;
}
.posting{
    padding-top: 20px;
    padding-bottom: 40px;
}
.post-button{
   margin-left: 67.5%
}
.events{
    height: 100%;
}
.eventContainer{
    width: 100%;
    height: 100%;
}
textarea{
    resize: none;
}

.logo {

    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    width: 142px;
    transition: 0.5s cubic-bezier(1, 0, 0, 1);
}

#logo img {

    margin: 2.5% 2.5% 2.5% 2.5%;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 4px solid #ccc;
}
