.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    padding-left: 2px !important;
    padding-right: 10px !important;
    height: 28px;
    color: white;
    font-size: 12px;
}
.navbar {min-height:28px !important;}
.shortcut{
    color: grey;
}