nav{
    height: 50px;
    background-color: #D31F07;
    padding: 1em;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*transform: translateY(-100%);*/
    transition: all 0.5s cubic-bezier(0, 1.44, 1, 1);
}
nav ul  {
    display: flex;
    width: 100%;
    justify-content: center;
}
#left-nav{
    float:left;
    justify-content: flex-start;
    display: flex;
    width: 50%;
}
#right-nav{
    float: right;
    justify-content: flex-end;
    display: flex;
    width: 100%;
}
 li {
    list-style: none;
    color: #fff;
    font-size: 1.3em;
    opacity: 0.6;
    cursor: pointer;
    padding: 15px;
}
