<% include ./partials/faculty_header %>
	
	<% include ./partials/faculty_nav %>
		<div class="col-sm-8">
			<br><br>
			<div class="container" >
					<form action="/faculty/groups/view/<%= currentGroup._id %>/assignments/create" method="post">
							<div class="form-group">

								<input type="text" name="title" class="form-control" id="title" placeholder="Assignment Title">

							</div>
							  <div class="form-group">
								  Select a language: <br>
							  </div>	
							  
							  
							  <br>Question 1<br>
							    <div class="form-horizontal">
							        <div class="control-group">
							            <div class="controls">
							            	<div class="container">
											<input type="text" name="questions[0][title]" class="form-control" id="description" placeholder="Question Statement"><br>
							                <textarea id="Question_Description" name = "questions[0][body]" placeholder="Question Description" rows="3"></textarea>
							                <textarea id="Question_Inputs" name = "questions[0][input]" placeholder="Question Inputs" rows="3"></textarea>
							            </div>
							            </div>
							        </div>
							    </div>


							    <br>Question 2<br>
							    <div class="form-horizontal">
							        <div class="control-group">
							            <div class="controls">
							            	<div class="container">
											<input type="text" name="questions[1][title]" class="form-control" id="description" placeholder="Question Statement"><br>
							                <textarea id="Question_Description" name = "questions[1][body]" placeholder="Question Description" rows="3"></textarea>
							                <textarea id="Question_Inputs" name = "questions[1][input]" placeholder="Question Inputs" rows="3"></textarea>
							            </div>
							            </div>
							        </div>
							    </div>


							    <br>Question 3<br>
							    <div class="form-horizontal">
							        <div class="control-group">
							            <div class="controls">
							            	<div class="container">
											<input type="text" name="questions[2][title]" class="form-control" id="description" placeholder="Question Statement"><br>
							                <textarea id="Question_Description" name = "questions[2][body]" placeholder="Question Description" rows="3"></textarea>
							                <textarea id="Question_Inputs" name = "questions[2][input]" placeholder="Question Inputs" rows="3"></textarea>
							            </div>
							            </div>
							        </div>
							    </div>
								</div><br><br>
								<button type="submit" class="btn btn-dark">Create new assignment</button>

					</form>
			</div>
		</div>
	</div>
	</body>

	<!-- <script>
		$(document).ready(function () {

            $("#addButton").click(function () {
                if( ($('.form-horizontal .control-group').length+1) > 10) {
                    alert("Atmax 10 questions are allowed");
                    return false;
                }
                var id = ($('.form-horizontal .control-group').length + 1).toString();
                $('.form-horizontal').append('<div class="control-group" id="control-group' + id + '"><label class="control-label" for="Question' + id + '">Question' + id + '</label><div class="controls' + id + '"><textarea id="Question_Statement' + id + '" placeholder="Question Statement"><textarea id="Question_Inputs' + id + '" placeholder="Question Inputs"></div></div>');
            });

            $("#removeButton").click(function () {
                if ($('.form-horizontal .control-group').length == 1) {
                    alert("Atleast one question in the assignment");
                    return false;
                }

                $(".form-horizontal .control-group:last").remove();
            });
        });
	</script> -->
</html>