<% include ./partials/faculty_header %>
	
		<% include ./partials/faculty_nav %>
		<div class="row">
			<ul class="collapsible popout center">
				<li>
					<div class="collapsible-header">UCS617 Image Processing</div>
					<div class="collapsible-body"> <table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Question 1</th>
								<th>Question 2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Apoorv Shrivastav</td>
								<td>10</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Omisha Sharma</td>
								<td>10</td>
								<td>9.5</td>
							</tr>
							<tr>
								<td>Purnendu Shukla</td>
								<td>10</td>
								<td>9.5</td>
							</tr>
							<tr>
								<td>Siddhant Srivastava</td>
								<td>10</td>
								<td>9.5</td>
							</tr>
						</tbody>
					</table></div>
				</li>
				
			</ul>
		</div>
		
		
		<script src = "../js/menubar.js"></script>
	
	</body>
</html>