<% include ./partials/faculty_header %>
	
		<% include ./partials/faculty_nav %>

			<div class="col s7">
				<div class="collection">
				    <a href="#!" class="collection-item"><span class="badge"> Lecture 1 - 10</span>Data Structures</a>
				    <a href="#!" class="collection-item"><span class="badge">lecture 1 - 10</span>Algorithms</a>
				    <a href="#!" class="collection-item"><span class="badge">Complete</span>OOPs(C++)</a>
				 </div>	
		
			<div class = "col s7 offset-s12">
				<a href="/faculty/notes/newUpload" class="btn-floating btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">add</i></a>
			</div>
				<!-- Grey navigation panel -->
			
			</div>
		</div>
	</body>
</html>