<% include ./partials/faculty_header %>

		<% include ./partials/faculty_nav %>

		<form id="add_member" action="/faculty/creategroup" method="post">
			<div class="row">
				<div class="input-field col s5">
					<input id="Group_Id" type="text" name="group_id" class="validate">
					<label for="Group_Id">Enter Group ID</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s5">
					<input id="Subject_Id" type="text" name="subject_id" class="validate">
					<label for="Subject_Id">Enter Subject ID</label>
				</div>
			</div>
			
			<div class="row">
				<div class="col s5">
					<div class="formDiv">
						<input class="waves-effect waves-light btn" type="submit" value="Submit"/>
					</div>
				</div>
			</div>


		</form>
	</body>
</html>