<% include ./partials/faculty_header %>
	
		<% include ./partials/faculty_nav %>

			<div class="col s7">
				<form action="#">
				    <div class="file-field input-field">
				      <div class="btn">
				        <span>File</span>
				        <input type="file" multiple>
				      </div>
				      <div class="file-path-wrapper">
				        <input class="file-path validate" type="text" placeholder="Upload one or more files">
				      </div>
				    </div>
				 </form>	
		
			<div class = "col s7 offset-s12">
				<a href="/faculty" class="btn-floating btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">add</i></a>
			</div>
				<!-- Grey navigation panel -->
			
			</div>
		</div>
	</body>
</html>