<% include ./partials/faculty_header %>

		<% include ./partials/faculty_nav %>

		<form id="add_member" action="/faculty/:id/addmember" method="post">
			<div class="row">
				<div class="input-field col s5">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Enter student ID</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s5">
					<input id="Subject_name" type="text" class="validate">
					<label for="Subject_name">Enter Subject ID</label>
				</div>
			</div>
			
			<div class="row">
				<div class="formDiv">
					<input class="waves-effect waves-light btn" type="submit" value="Submit"/>
				</div>
			</div>


		</form>
	</body>
</html>