<% include ./partials/faculty_header %>
		
		<% include ./partials/faculty_nav %>
			<div class = "row">
			<div class="col s7">
				<!-- Teal page content  -->
				<div class = "row">
					<h2 class = "subheader">My Class Groups</h2>
					<div class="col s12 m4">
						<div class="card teal lighten-1">
							<div class="card-content white-text">
								<span class="card-title">UCS617</span>
								<p>
									<b>Image Processing</b><br>
									CAG1 CAG2 CAG3 COE10<br>
								</p>
							</div>
							<div class="card-action white">
								<a href="/faculty/groups/1234"><font color = "grey">View Group</font></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col s7 offset-s10">
	<a class="btn-floating btn-large waves-effect waves-teal lighten-1"><i class="material-icons">add</i></a>
</div>
</div>
	</body>
</html>