<% include ./partials/faculty_header %>
	
		<% include ./partials/faculty_nav %>

			<div class="col s7">
				<!-- Teal page content  -->
				<div class = "row">
					<h3 class = "header"><font color = "teal">Ongoing Assignments</font></h3>
					<div class="col s12 m6">
						<div class="card teal lighten-1">
							<div class="card-content white-text">
								<span class="card-title">UCS617</span>
								<p>
									<b>Image Processing Lab</b><br>
									Start date : 5/05/2018<br>
									Deadline : 10/05/2018
								</p>
							</div>
							<div class="card-action white">
								<a href="#" onclick="CreateAssignmentWindow()"><font color = "grey">Edit Assignment</font></a>
								<a href="#" onclick="CreateAssignmentView()"><font color = "grey">View Submissions</font></a>
							</div>
						</div>
				</div>
				
			</div>
		
			
		<div class="col s3">
			<!-- Grey navigation panel -->
		
		</div>
		</div>
	
	</body>
</html>