<% include ./partials/faculty_header %>
	
	<% include ./partials/faculty_nav %>
		<div class="row">
			<form class="col s9 offset-s1">
				<div class="row">
					
					<div class="input-field col s12">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Assignment Title</label>
					</div>
				</div>
				<br>
				<div class="row">
					Languages Allowed: <br>
					<div class="input-field col s12">
						<p>
							<label>
								<input type="checkbox" />
								<span>C++</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" />
								<span>Java</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" />
								<span>Python</span>
							</label>
						</p>
						<p>
					</div>
					<br>
					<div class="row">
						<div class="input-field col s12">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Question 1</label>
							Upload Test Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							Upload Answer Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							<input placeholder="Max Marks" id="max_marks" type="text" class="validate">
							
							
						</div>
					</div>
					<br>
					<div class="row">
						<div class="input-field col s12">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Question 2</label>
							Upload Test Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							Upload Answer Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							<input placeholder="Max Marks" id="max_marks" type="text" class="validate">
						
						
						</div>
						<br>
						<div class="row">
							<div class="input-field col s12">
								<input id="last_name" type="text" class="validate">
								<label for="last_name">Question 3</label>
								Upload Test Cases:
								<div class="file-field input-field">
									<div class="btn">
										<span>File</span>
										<input type="file">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
								Upload Answer Cases:
								<div class="file-field input-field">
									<div class="btn">
										<span>File</span>
										<input type="file">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
								<input placeholder="Max Marks" id="max_marks" type="text" class="validate">
							
							
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col s5">
								<a class="waves-effect waves-light btn" href="#">Submit</a>
							</div>
						</div>
				
			</form>
		</div>
		
		
		<script src = "../js/menubar.js"></script>
	
	</body>
</html>