<% include ./partials/faculty_header %>
	
		<% include ./partials/faculty_nav %>

			<div class="col-sm-8">
			<br><br>
			<div class="card" style="width: 300px";>
					<div class="card-body">
					  <h4 class="card-title">Hardcoded Note title</h4>
					  <p class="card-text">Note Subject</p>
					  <a href="#" class="card-link">Download Link</a>
					  
					</div>
				  </div>
			<a href="/faculty/notes/newUpload" class="btn-floating btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">add</i></a>
			</div>
			
		</div>
	</body>
</html>