<% include ./partials/faculty_header %>
	
	<% include ./partials/faculty_nav %>
		<div class="row">
			<form class="col s9 offset-s1" method="post" action="/faculty/groups/view/<%= currentGroup._id %>/assignments/create">
				<div class="row">
					
					<div class="input-field col s12">
						<input name="title" id="last_name" type="text" class="validate">
						<label for="last_name">Assignment Title</label>
					</div>

					<div class="input-field col s12">
						<input name="subject" id="last_name" type="text" class="validate">
						<label for="last_name">Subject Code</label>
					</div>
				</div>
				
				<br>
				<div class="row">
						<div class="input-field col s12">
							<input name = "ques1[title]" id="last_name" type="text" class="validate">
							<label for="last_name">Question 1</label>
							Upload Test Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							Upload Answer Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							<input name="ques1[marks]" placeholder="Max Marks" id="max_marks" type="text" class="validate">
							
							
						</div>
					</div>
					<br>
					<div class="row">
						<div class="input-field col s12">
							<input name = "ques2[title]" id="last_name" type="text" class="validate">
							<label for="last_name">Question 2</label>
							Upload Test Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							Upload Answer Cases:
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
							<input name="ques2[marks]" placeholder="Max Marks" id="max_marks" type="text" class="validate">
						
						
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col s5">
								<input class="waves-effect waves-light btn" type="submit" name="post">
							</div>
						</div>
				
			</form>
		</div>
		
		
		<script src = "../js/menubar.js"></script>
	
	</body>
</html>