<% include ./partials/faculty_header %>
		
		<% include ./partials/faculty_nav %>
		
			<div class="col s7">
				<!-- Teal page content  -->
				<div class="row">
					<div class="col s12 ">
						<div class="card">
							<div class="card-content">
								<form action="/faculty/announcement" method="post">
									<div class="row">
										<div class="input-field">
											<textarea id="textarea1" class="materialize-textarea" name="announcement"></textarea>
											<label for="textarea1">Write an announcement here</label>
										</div>
									</div>

									<div class="card-action">
										
										<div class="col s6 offset-s4"></div>
										<input class="waves-effect waves-light btn" type="submit" name="post">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class = "row">
					<div class = "col s12">
						<div class="card">
							<div class="card-content ">
								<div class = "row">
								<div class = "col s3"><img src = "../../../res/img/deadwing.jpg" height = "75px" width="75px" class="circle"><br>
									Prof. Mosby
								</div>
								<div class="col s8"
									<p>The notes for today's lecture have been uploaded. You may find them in the class library</p>
								</div>
								</div>
							</div>
							<div class="card-action">
								<a href="#">Leave a comment</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		
		
		
		<div class="col s3">
			<!-- Grey navigation panel -->
			<div class="row">
				<div class="col s12 m12">
					<div class="card">
						<div class="card-content">
							<span class="card-title">Upcoming Events</span>
							<table class="striped">
								<thead>
									<tr>
										<th>Event</th>
										<th>Date</th>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td>Image Quiz</td>
										<td>1/6/2018</td>
									</tr>
									<tr>
										<td>GPU Lab Eval</td>
										<td>3/6/2018</td>
									</tr>
									<tr>
										<td>NLP Lab Eval</td>
										<td>6/7/2018</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		
	</body>
</html>