<% include ./partials/student_header %>
		
		<% include ./partials/student_nav %>

		
			
		<div class="card">
			<div class="card-action teal lighten-1">
				 <a href="/student/assignment/<%= assignment._id %>/view/ques"><font color = "white">Question :1&nbsp;&nbsp;&nbsp;&nbsp;<%= assignment.ques1.title %></font></a>
			</div>
		</div>

		<div class="card">
			<div class="card-action teal lighten-1">
			 	<a href="/student/assignment/<%= assignment._id %>/view/ques"><font color = "white">Question :2&nbsp;&nbsp;&nbsp;&nbsp;<%= assignment.ques2.title %></font></a>
			</div>
		</div>
		<div class = "center-align">
			<a href = "/student/assignment">
				<button class="btn waves-effect waves-light" type="submit" name="action">Back
	    			<i class="material-icons left">chevron_left</i>
	  			</button>
  			</a>
  		</div>


	</body>