<% include ./partials/student_header %>
		
		<% include ./partials/student_nav %>

		<!-- <%= assignment %> -->

		<% assignment.questions.forEach(function(question) { %>
		<div class="card">
			<div class="card-action teal lighten-1">
				 <a href="/student/assignment/<%= assignment._id %>/view/ques"><font color = "white">Question :1<%= question.title %></font></a>
			</div>
		</div>


	<% }) %>

	</body>