<% include ./partials/student_header %>

 	<body>

		<% include ./partials/student_nav %>

			<div class = "col-sm-8">
				<br>
				<h2><%= question.title %></h2>

				<div class = >
					<p>
						<%= question.body %><br>
					</p>	
					<br>
					<p>
						<b>Given Input</b><br>
							<div class = "sample_input">
								<%= question.input %>
							</div>
						<br>
						<br>
					</p>
				
				</div>

				<div class = "code_here">
					<p>
						<br><br>
						<b>Enter Your Code Here :
						</b>
					</p>
					<div class="code_mirror">
						<div id="codeeditor"></div>
						<script>

						var editor = CodeMirror(document.getElementById("codeeditor"), {
							value: "#test {\n\tposition: absolute;\n\twidth: auto;\n\theight: 50px;\n}",
							mode: "css",
							tabSize: 5,
							lineNumbers: true,
							firstLineNumber: 50,
							extraKeys: {"Ctrl-Space": "autocomplete"}
						});
						</script>
					</div>
					<div class="form-group" action="--------" method="post">

						<div class="code_mirror">
							<textarea id="code_area" class="codemirror-testarea"></textarea>
						</div>

						<br><br>
				
						

				  		<b><label for="comment">Custom Input:</label></b>
	  					<textarea class="form-control" rows="5" id="CustomInput"></textarea>
	  					<br><br>
	  					<b><label for="comment">Output:</label></b>
	  					<textarea class="form-control" rows="5" id="Output"></textarea>

	  					<br><br>
	  					<div class="d-flex justify-content-center">
	  					
							<div class = "col-sm-4 d-flex justify-content-center">
								<button type="button" class="btn btn-dark">Compile & Run</button>
							</div>
							<div class = "col-sm-4 d-flex justify-content-center">
				  				<button type="button" class="btn btn-dark">Submit</button>
				  			</div>

				  		</div>

					</div>

				</div>
				<br><br>
			</div>
		</div>
			
		<script type="text/javascript" src = "/scripts/code_mirror/jquery.min.js"></script>
		<script type="text/javascript" src = "/plugin/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src = "/scripts/code_mirror/default.js"></script>
		<script src="/plugin/codemirror/mode/css/css.js"></script>
		<script src="/plugin/codemirror/addon/hint/show-hint.js"></script>
		<script src="/plugin/codemirror/addon/hint/css-hint.js"></script>
		<link rel="stylesheet" href="/plugin/codemirror/addon/hint/show-hint.css">
	</body>
</html>