<% include ./partials/student_header %>

	<body>
		
		<% include ./partials/student_nav %>
			
			<div class="col-sm-8">
				<br>

				<div class = "container">
					<% announcements.forEach(function(announcement) { %>
						<br>
						<div class="container">
							
							<div class="media border p-3">
									
									<div class="media-body">
									  <h4><%= announcement.text %> </h4>
									 
									  <p><%= announcement.author.name %></p>
									  <div class="media p-3">
											
											<div class="media-body">
													<a href="/student/groups/view/<%= currentGroup._id %>/announcement/view/<%= announcement.id %>">Leave a comment</a>
											</div>
										  </div> 
									</div>
								  </div>
						</div>
							
					<% }); %>
				</div>
				
				
			
			</div>
		
		
		
		<!--Page Layout ends here-->
  
	</body>
</html> 