<% include ./partials/student_header %>

	<body>
		
		<% include ./partials/student_nav %>
			
			<!-- Live Assignments -->
			<div class ="col-sm-9">

					<br>
					<h2>Live Assignments</h2><br>

					<div class="card-columns">
					<% assignments.forEach(function(assignment) { %>
						<div class="card">
							<div class="card-body">
									<div class="card-header">

										<% if (assignment.subject) { %>

											<%= assignment.subject.subject_id %>
										<% } %>
										<b><%= assignment.title %></b>
									</div>
									<p class = "card-text">
										<!-- <br>
										Start date : 5/05/2018<br>
										Deadline : 10/05/2018 -->
									</p>
								<div class="card-action white">
									<a href="/student/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>"><button type="button" class="btn btn-light">View Assignment</button></a>
								</div>
							</div>
						</div>
						<br>
					<% }); %>
				</div>
			</div>	
				<!--Upcoming Assignments-->
		<!-- java scripts -->
		<!-- Compiled and minified JavaScript -->
	</body>
</html>