<% include ./partials/student_header %>
		
		<% include ./partials/student_nav %>
			
			<!-- Live Assignments -->
			<div class ="col s7">
				<div class="row">
					<h2 class = "subheader">Live Assignments</h2>

					<% assignment.forEach(function(assignment) { %>


						<div class="col s12 m6">
							<div class="card teal lighten-1">
								<div class="card-content white-text">
									<span class="card-title">UCS617</span>
									<p>
										<b><%= assignment.name %></b><br>
										Start date : 5/05/2018<br>
										Deadline : 10/05/2018
									</p>
								</div>
								<div class="card-action white">
									<a href="/student/assignment/view_assignment"><font color = "grey">View Assignment</font></a>
								</div>
							</div>
						</div>
					

					<% }); %>
					<!-- <div class="col s12 m6">
						<div class="card teal lighten-1">
							<div class="card-content white-text">
								<span class="card-title">UCS633</span>
								<p>
									<b>Data Analytics Lab</b><br>
									Start date : 6/05/2018<br>
									Deadline : 12/05/2018
								</p>
							</div>
							<div class="card-action white">
								<a href="/student/assignment/view_assignment"><font color = "grey">View Assignment</font></a>
							</div>
						</div>
					</div> -->
				</div>
				<!--Upcoming Assignments-->
				<div class="row">
					<h2 class = "subheader">Upcoming Assignments</h2>
					<div class="col s12 m6">
						<div class="card teal lighten-1">
							<div class="card-content white-text">
								<span class="card-title">UCS617</span>
								<p>
									<b>Computer Networks</b><br>
									Start date : 5/05/2018<br>
									Deadline : 10/05/2018
								</p>
							</div>
							<div class="card-action white">
								<font color = "red">VIEW ASSIGNMENT</font>
							</div>
						</div>
					</div>
					
					<div class="col s12 m6">
						<div class="card teal lighten-1">
							<div class="card-content white-text">
								<span class="card-title">UCS633</span>
								<p>
									<b>Operating Systems</b><br>
									Start date : 6/05/2018<br>
									Deadline : 12/05/2018
								</p>
							</div>
							<div class="card-action white">
								<font color = "red">VIEW ASSIGNMENT</font>
							</div>
						</div>
					</div>
				</div>
				<!--Previous Assignments-->
				<div class="row">
					<h2 class = "subheader">Past Assignments</h2>
					<div class="col s12 m6">
						<div class="card teal lighten-1">
							<div class="card-content white-text">
								<span class="card-title">UCS617</span>
								<p>
									<b>GPU Computing</b><br>
									Start date : 5/05/2018<br>
									Deadline : 10/05/2018
								</p>
							</div>
							<div class="card-action white">
								<a href="#"><font color = "grey">View Result</font></a>
							</div>
						</div>
					</div>
					
					<div class="col s12 m6">
						<div class="card teal lighten-1">
							<div class="card-content white-text">
								<span class="card-title">UCS633</span>
								<p>
									<b>Natural Language Processing</b><br>
									Start date : 6/05/2018<br>
									Deadline : 12/05/2018
								</p>
							</div>
							<div class="card-action white">
								<a href="#"><font color = "grey">View Result</font></a>
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
		<!-- java scripts -->
		<!-- Compiled and minified JavaScript -->
	</body>
</html>