<% include ./partials/student_header %>

	<% include ./partials/student_nav %>
	
	<div class="col-sm-8">
		<br><br><br>
		<div class=" container">
				<form id="add_member" action="/student/<%= user._id %>/change_group" method="post">
			
					<div class=" form-group">
							<label for="last_name">Enter Code </label>	<input id="last_name" type="text">
				
				</div>	
					<button type="submit" class="btn btn-primary">Submit</button>
				
			
		
		</form>
		</div>
	</div>

	</body>
</html>